body { background: #2cdd70; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 43px; display: flex; }
.block-notify-0 { color: #a88f5e; font-size: 20px; margin-bottom: 5px; }
.block-search-1 { color: #9a8ce; font-size: 15px; margin-bottom: 5px; }
.block-invoice-2 { color: #5cf2c2; font-size: 13px; margin-bottom: 5px; }
.block-invoice-3 { color: #276882; font-size: 13px; margin-bottom: 5px; }
.block-router-4 { color: #ae3dbf; font-size: 18px; margin-bottom: 5px; }